@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-900 font-body px-5 text-white;
    }
}

@layer components {
    .page-container {
        max-width: 1250px;
        margin-right: auto;
        margin-left: auto;
    }
    .movies .swiper-slide {
        width: 300px;
        height: auto;
    }
    .banner .swiper {
        height: 100%;
    }
    .similar .swiper-slide {
        width: 250px;
        height: auto;
    }
    .paginationSN > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;
        .selected {
            @apply text-primary;
        }
    }
}
